body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./mario3\ \(1\).jpg");
    background-size: cover;
}

#board {
    width: 540px;
    height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./soil\ pic.jpg");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#board div {
    width: 90px;
    height: 90px;
    background-image: url("./greenTube.png");
    background-size: cover;
    display: block;

}

#board div img {
    width: 80px;
    height: 80px;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}